<h1>Edit User #<%= @user.id %></h1>

<p>
  <%= link_to "list", users_url %> |
  <%= link_to "new", new_user_url %> |
  <%= link_to "show", user_url(@user) %> |
  <%= link_to "delete", user_url(@user), method: :delete, confirm: "Are you sure?" %>
</p>

<%= render partial: 'form' %>
